.EightBallCircle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 150px
}

.EightBallText {
    width: 80%;
    text-align: center;
    margin: auto;
    color: white;
}